* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHolder {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.cardHolder .card {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

