* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: burlywood;
  overflow-x: hidden;
}

nav {
  font-family: serif;
  background-color: rgb(169, 123, 63);
  width: 100vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

nav h1 {
  margin: auto;
  padding-top: 1vh;
  width: fit-content;
  height: fit-content;
}

.fullBody {
  width: 100vw;
  height: fit-content;
  display: flex;
}

aside {
  padding-top: 5px;
  width: 25%;
  height: 100vh;
  background-color: rgb(253, 223, 184);
  padding-left: 10px;
  padding-right: 10px;
}

.filterHead {
  text-align: center;
  width: 100%;
}

.filters {
  margin-top: 5px;
  height: fit-content;
}

.filters * {
  width: 100%;
}

.filterHolder {
  height: fit-content;
}

#submit {
  margin-top: 5px;
}

.cardHolder {
  width: 75%;
  height: fit-content;
  overflow: hidden;
}

.card * {
  max-width: 100%;
}

.card {
  float: left;
  margin: 5px;
  width: 32%;
  height: 66%;
}
