* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.cardHolder {
  border: 1px solid blue;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.card * {
  max-width: 15vw;
  max-height: 15vh;
}

.card {
  float: left;
  border: 1px solid red;
  margin: 5px;
  width: 25vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}
